/* Log in - Sign up*/
#login {
    margin-bottom: 30px;
    margin-top: 0;
    .login__tittle {
        text-align: center;
        font-size: 2.8rem;
        color: var(--text-color);
        font-weight: 400;
        line-height: 3rem;
        letter-spacing: 0.3rem;
        padding-top: 30px;
        &-text {
            font-size: 1.6rem;
            color: var(--text-color);
            font-weight: 400;
            text-align: center;
            padding: 20px 0;
        }
    }
    .login__desc {
        text-align: center;
        font-size: 1.6rem;
        color: var(--text-color);
        font-weight: 400;
        line-height: 3rem;
        letter-spacing: 0.1rem;
    }
    .login__social {
        display: flex;
        justify-content: center;
        padding: 20px;
        &-link {
            cursor: pointer;
        }
    }
    .login__form {
        &-input {
            padding-bottom: 30px;
        }
        &-text {
            font-size: 1.3rem;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            .login__form-text span {
                color: red;
            }
        }
        &-in {
            width: 100%;
            height: 50px;
            background-color: #f7f7f7;
            color: #55595c;
            font-size: 1.4rem;
            border: 1px solid transparent;
            outline: none;
            box-shadow: none;
            padding: 0 15px;
        }
        &-forget {
            display: block;
            text-align: center;
            font-size: 1.4rem;
            color: var(--hover-text);
            font-weight: 500;
            letter-spacing: 0.06rem;
            padding: 15px 0;
            &:hover {
                text-decoration: none;
                color: var(--text-color);
            }
        }
        &-end {
            text-align: center;
            font-size: 1.3rem;
            color: var(--text-color);
            font-weight: 500;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            a {
                color: var(--hover-text);
            }
            a:hover {
                text-decoration: none;
                color: var(--text-color);
            }
        }
    }
    .btns.login__btn {
        min-width: 290px;
        font-size: 1.4rem;
        font-weight: 500;
        cursor: pointer;
    }
    .login__box {
        padding: 40px 0;
        .login__heading {
            font-size: 2rem;
            font-weight: 400;
            color: var(--text-color);
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            margin: 5px 0;
        }
        .login__hello {
            font-size: 1.4rem;
            font-weight: 700;
            color: var(--text-color);
            padding-bottom: 15px;
        }
        .login__list {
            list-style: none;
            padding-left: 0;
        }
        .login__item {
            font-size: 1.4rem;
            font-weight: 400;
            color: var(--text-color);
            padding-bottom: 10px;
            .active a {
                color: var(--hover-text);
            }
        }
        .login__acc {
            list-style: none;
            padding-left: 0;
            margin-top: 15px;
        }
        .login__acc-item {
            font-size: 1.4rem;
            font-weight: 700;
            color: var(--text-color);
            padding-bottom: 10px;
            span {
                font-weight: 400;
            }
        }
    }
}
